{% extends "layout.html" %}
{% block body %}
<div class="container">	
	<div class="row">
		<div class="col-md-4" id="center">
			<div id="center1">
				<h3>Signup</h3>
				
				<form action="{{ url_for('join_submit') }}" method="post">
		<dl>
			<dt>Email:</dt>
			<dd><input type="text" name="email"></dd>
			<dt>Password:</dt>
			<dd><input type="password" name="password"></dd>
			<dt>Check password:</dt>
			<dd><input type="password" name="password_check"></dd>
			<dt>Username:</dt>
			<dd><input type="text" name="username"></dd>
			<dt>Gender:</dt>
			<dd>
				<label>
					<input class="gender" type="radio" name="gender" value="M">Male 
				</label>
				<label>
					<input class="gender" type="radio" name="gender" value="F">Female</label>
			</dd>
				
			<dt>Phone number:</dt>
			<dd><input type="text" name="mobile" ></dd>
			<dt>Birthdate:</dt>
			<dd><input type="date" name="birthday" id="birthdate_input"></dd>
			<dd><input class="reverse__btn" type="submit" value="Sign up"></dd>
		</dl>		
	</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}


 
    
    
