.jumbotron{
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.active > a{
	background-color: transparent;
}

.jumbotron p {
	font-size: 16px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

#center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
#center1 {
     float: none;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #ccc;
     padding: 5px;
}

#center1 > form > dl > dd { 
	margin-bottom: 10px;
}

.delete {
     float:right;
     display: inline-block;;
     color: black;
     margin-right: 10px;
}